parse_config:
  zmk_additional_includes:
    - "modules/zmk/helpers/include"
  zmk_preamble: |
    #define CONFIG_WIRELESS
    #include <zmk-helpers/key-labels/42.h>
  raw_binding_map:
    "&kp LS(DEL)": Shift Del
    "&kp LC(A)": Select All
    "&kp LC(Z)": Undo
    "&kp LC(LS(Z))": Redo
    "&kp LC(X)": Cut
    "&kp LC(C)": Copy
    "&kp LC(V)": Paste

    "&kp LG(LC(LEFT))": Prev Desk
    "&kp LG(LC(RIGHT))": Next Desk
    "&kp LS(TAB)": Prev Win
    "&swapper": Next Win

  zmk_combos:
    combo_del: { align: top, o: 0.15 }
    combo_sftdel: { align: top, o: 0.75 }
    combo_sel_all: { align: bottom, o: 0.95 }
    combo_redo: { align: bottom, o: 0.4 }
    combo_cut: { align: bottom, o: 0.25 }
