// forked from https://github.com/urob/zmk-config/blob/9f386d209657a1aefc625633bda13f5a091ea465/config/combos.dtsi
/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM_FAST 40
#define COMBO_IDLE_FAST 50

#define ZMK_COMBO_FAST(name, bindings, keypos) \
  ZMK_COMBO(name, bindings, keypos, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Horizontal combos - left hand */
ZMK_COMBO_FAST(leftsys,  &sl SYS_L,       LT4 LT3 LT2 LT1)
ZMK_COMBO_FAST(esc,      &kp ESC,         LM3 LM2)
ZMK_COMBO_FAST(bspc,     &kp BSPC,        LM2 LM1)
ZMK_COMBO_FAST(del,      &kp DEL,         LM3 LM2 LM1)
ZMK_COMBO_FAST(sftdel,   &kp LS(DEL),     LM4 LM3 LM2 LM1)

ZMK_COMBO_FAST(sel_all,  &kp LC(A),       LB4 LB1)
ZMK_COMBO_FAST(undo,     &kp LC(Z),       LB4 LB3)
ZMK_COMBO_FAST(redo,     &kp LC(LS(Z)),   LB4 LB3 LB2)
ZMK_COMBO_FAST(cut,      &kp LC(X),       LB3 LB1)
ZMK_COMBO_FAST(copy,     &kp LC(C),       LB3 LB2)
ZMK_COMBO_FAST(paste,    &kp LC(V),       LB2 LB1)
ZMK_COMBO_FAST(sftpaste, &kp LS(LC(V)),   LB3 LB2 LB1)

ZMK_COMBO_FAST(num,      &num_word NUM_L, LH1 LB0)

/* Horizontal combos - right hand */
ZMK_COMBO_FAST(rightsys, &sl SYS_L,       RT1 RT2 RT3 RT4)
